.productMenuImage{
    max-width: 250px;
    height: 300px;
   transition: all 0.2s linear;
   border-radius: 25px;
   margin: auto;
}
.menuImageConatiner{
    overflow: hidden;
    border-radius: 25px;
    margin: auto;
    display: flex;
}
@media screen and (min-width:1200px) {
    .productMenuImage:hover{
        transform: scale(1.1);
    }
}
