
.banner_bg{
    background-image:linear-gradient(rgba(0,0,0,0.50),rgba(0,0,0,0.50)) ,url('../../public/Assets/pexels-quintingellar-696205.jpg');
    background-size:100% 100%;
    background-repeat: no-repeat;
}
.navContainer{
    display: flex !important;
    gap: 20px !important;
}
.navItem{
    border-bottom: 2px solid transparent !important;
}
.navItem:hover{
    border-bottom: 2px solid green !important;
}
.mobileNavItem{
    color: green !important;
    border-bottom: 1px solid green !important;
}
.bannerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0px;
}

@media screen and (max-width:991px) {
    .navContainer{
        display: none !important;
    }
}