
.dateBox{
    border-radius: 10px;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-items: center;
   color:var(--commonBlackColor) ;
   background-color: var(--tabBgColor);
   outline: none !important;
}
.dayName{
    font-size: 12px;
    font-weight: 400;
}
.foodPlanHeader{
    color: var(--commonWhiteColor) !important;
    margin-bottom: 20px;
}
.date{
    font-size: 18px;
    font-weight: 700;
}
.bg{
    background-color: black;
    padding: 10px;
   border-radius: 15px;
   margin-top: 5px;
}
.rowGap{
    row-gap: 10px;
}