.taskBoxContainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.workoutMainContainer{
    background-color: black;
    border-radius: 15px;
    padding: 20px 10px;
    margin: 10px 0px;
}
.workOutPlanHeader{
    color: var(--commonWhiteColor);
 margin-bottom: 10px;
}
.taskHeading{
    color: var(--commonWhiteColor) !important;
}
.statusContainer{
    background-color: blue;
}