.secondrayButtonStyle {
    cursor: pointer;
    font-size:14px;
    font-weight: 300;
    background-color: transparent;
    overflow: hidden;
    padding: 7px 24px;
    border-radius: 100px;
    border: 1px solid var(--primary);
    color: var(--primary);
  }

  .secondrayButtonStyle:hover {
  background-color: var(--primary);
  color: white;
  }